{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Brew Haven Cafe</title>
   <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<div class="hero">


    <div class="hero-content">
        <h1>Welcome to Brew Haven Café</h1>
        <link rel="stylesheet" href="{% static 'home.css' %}">

        <p>
            Experience handcrafted coffee, delicious pastries,
            and a warm atmosphere where every cup tells a story.
            Made from premium beans sourced from around the world.
        </p>

        <div class="buttons">
            <a href="/register/" class="btn primary">Join Us</a>
            <a href="/login/" class="btn secondary">Login</a>
        </div>
    </div>

</div>

</body>
</html>